#box1{
    display: flex;
}
#box1>div{
    text-align: center;
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
#box1 button{
    margin: auto;
    margin-top: 30px;
    align-content: space-between;
}
#box1 img{
    height: 350px;
    width: 100%;
}
#box2{
    display: flex;
    width: 98%;
            margin: auto;
            background-color: rgb(197, 71, 71);
}
#box2>div{
    text-align: center;
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
#box2 button{
    margin: auto;
    margin-top: 30px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    align-content: space-between;
    background-color: black;
    color: white;
}
#box2 img{
    height: 200px;
    width: 200px;
}

#box3{
    display: grid;
    /* width: 70%; */
    grid-template-columns:repeat(4,1fr);
    gap:10px;
    justify-content: space-evenly;
    text-align: center;
    /* box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1); */
}
#box3 div{
    margin-top: 30px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    padding: 5%;
}
#box3 img{
    width: 300px;
}
#box5{
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 20%;
}
#box5 button{
background-color: black;
color: white;
}
#box3 button{
    background-color: black;
    color: white;
    }
    a{
        text-decoration: none;
        color: black;
    }
    @media screen and (max-width: 900px) {
    #box3{
        grid-template-columns:repeat(2,1fr);
    }
    #menubar{
       visibility: hidden;
    }
    }
    @media screen and (max-width: 600px) {
        #box3{
            grid-template-columns:repeat(1,1fr);
        }
        #menubar{
            visibility: hidden;
         }
        }