#signup{
    position: relative;
    margin:auto;
    margin-top: 200px;
    text-align: center;
}
form{
    display: grid;
    width: 500px;
    gap: 10px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 30px;
}
form input:last-child{
background-color: black;
color: white;
height: 50px;
font-family: 'Lucida Sans';
}
button{
    margin: auto;
    
}

#github{
    border: 0px;
    background-color: transparent;
}